
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*Navbar*/
.navbar-container{
    width: 100%;
    height: 280px;
    background-color: #c2c2b9;
    padding: 5px;
    position: fixed;
}

.logo{
    width: 80px;
    margin:15px 10px;
    border-radius: 5%;
}

.nav-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items{
    display:block;
    padding: 0;
    text-align: center;
 }

 .menu-items a{
    color: #014984;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-items a:hover{
    color: #014984;
    font-weight: 700;
    border-bottom: 3px solid #fde430;
   
}
/*fim navbar*/

/*Seção Home*/
.main-home{
    padding: 290px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-home{
    width: 260px;
}

.content-home{
    text-align: center;
    margin: 20px 20px;
}

.content-home h1{
    color:#014984;
    font-weight: 700;
    text-transform: uppercase;
}

.content-home p{
    color: #014984;
    font-weight: 600;
    text-transform: uppercase;
}

/*fim seção Home*/

/*Seção produtos*/
.main-product{
    padding: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.img-product{
    width: 260px;
}

.content-product{
    text-align: center;
    margin: 20px 20px;
}

.content-product h1{
    color:#014984;
    font-weight: 700;
   
}

.content-product p{
    color: #014984;
    font-weight: 600;
    
}

.btn{
    border: 1px solid #014984;
    padding: 10px;
    background-color:#fde430;
    color: #014984;
    font-weight: 700;
    border-radius: 5px;
}

.btn:hover{
    background-color: #014984;
    color: #fde430;
}

/*css modal product*/
#modalProduct h1,
label{
    color: #014984;
    font-weight: 700;

}

#modalProduct input{
    border:1px solid #014984;
}

#modalProduct textarea{
    border: 1px solid #014984;
}
/*fim seção produtos*/

/*Seção clientes*/
.main-customers{
    text-align: center;
    width: 100%;
   
}

.main-customers h1{
    color: #014984;
    font-weight: 700;
}

.content-customers{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-customers h3, p{
    color: #014984;
}

.content-customers p{
    margin-bottom: 0;
}

.content-customers h3{
    font-weight: 700;
}
/*fim seção clientes*/

/*Media queries*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-container{
        display: flex;
        height: 100px;
    }
    
    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-items{
        display:flex;
        margin: 0;
    }
     
    .menu-items a{
        margin: 8px
    }

    .login-btn{
        padding: 10px;
        background-color:#fde430;
        color: #014984;
        border-radius: 5px;
    } 
    /*fim navbar*/

    /*Seção Home*/
    .main-home{
        padding-top: 110px;
        margin: 0 20px 0 20px;
        flex-direction: row;
    }
    .content-img{
        margin: auto;
         order: 2;
    }

    .img-home{
        width: auto;
    }

    .content-home{
        margin: auto;
        order: 1;
    }
    /*fim seção home*/

    /*Seção produtos*/
   .main-product{
        padding: 100px 10px 20px 10px;
       
   }

    .img-product{
        width: 350px;
        border-radius: 50%;
    }

    /*fim seção produtos*/

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Seção Home*/
    .content-home h1{
        font-size: 2.6rem;
    }

    .content-home p{
        font-size: 1.8rem;
    }
    /*fim Seção Home*/
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}